<h1>Your results</h1>
<p>Your Word: <%= @word %></p>
<p>Time taken to answer: <%= @time_taken %></p>
<p>Translation: <%= @translation %></p>
<p>Your score: <%= @score %></p>
<p>Message: <%= @message %></p>
<p>Average score: <%= @average_score %></p>
